In [92]:
#importing numpy and pandas library

import numpy as np
import pandas as pd

In [93]:
# loading dataset

diabetes = np.genfromtxt('C:\\Users\\snaug\\Downloads\\0000000000002329_training_diabetes_x_y_train.csv', delimiter=',')

In [95]:
# printing dataset

print(diabetes)

[[-4.91050164e-02 -4.46416365e-02  1.60854917e-01 ...  2.80165065e-02
   1.13486232e-02  3.46000000e+02]
 [-7.09002471e-02  5.06801187e-02 -8.91974838e-02 ... -1.29079423e-02
  -5.49250874e-02  1.04000000e+02]
 [ 1.75052192e-03 -4.46416365e-02 -7.08746786e-02 ... -2.25121719e-02
   7.20651633e-03  4.90000000e+01]
 ...
 [ 2.35457526e-02 -4.46416365e-02  7.03187031e-02 ... -1.91970476e-02
  -9.36191133e-03  2.88000000e+02]
 [ 1.62806757e-02  5.06801187e-02  7.24743273e-02 ... -2.36445576e-02
   6.10539062e-02  1.31000000e+02]
 [-9.14709343e-03  5.06801187e-02 -3.09956318e-02 ...  6.20931562e-03
   2.79170509e-02  4.20000000e+01]]

In [96]:
# type of dataset

type(diabetes)

numpy.ndarray

In [97]:
# converting np array to dataframe 

df = pd.DataFrame(diabetes)

In [98]:
type(df)

pandas.core.frame.DataFrame

In [99]:
# looking at the top 5 rows of dataframe 

df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0

In [100]:
# changing column name to dataframe

df.columns = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'Y']

In [68]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628,180.0
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349,110.0
...,...,...,...,...,...,...,...,...,...,...,...
326,0.012648,-0.044642,-0.020218,-0.015999,0.012191,0.021233,-0.076536,0.108111,0.059881,-0.021788,233.0
327,0.019913,-0.044642,-0.057941,-0.057314,-0.001569,-0.012587,0.074412,-0.039493,-0.061177,-0.075636,63.0
328,0.023546,-0.044642,0.070319,0.025315,-0.034592,-0.014466,-0.032356,-0.002592,-0.019197,-0.009362,288.0
329,0.016281,0.050680,0.072474,0.076958,-0.008449,0.005575,-0.006584,-0.002592,-0.023645,0.061054,131.0
330,-0.009147,0.050680,-0.030996,-0.026328,-0.011201,-0.001001,-0.021311,-0.002592,0.006209,0.027917,42.0

In [101]:
# checking for null values in the dataframe 

df.isnull().sum()

age    0
sex    0
bmi    0
bp     0
s1     0
s2     0
s3     0
s4     0
s5     0
s6     0
Y      0
dtype: int64

In [102]:
# checking for data types of columns

df.dtypes

age    float64
sex    float64
bmi    float64
bp     float64
s1     float64
s2     float64
s3     float64
s4     float64
s5     float64
s6     float64
Y      float64
dtype: object

In [103]:
# checking for description of each column

df.describe()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,-0.000214,-0.000293,0.000053,-0.001045,-0.001423,-0.001220,0.000440,-0.001473,-0.001594,0.000099,149.722054
std,0.047207,0.047618,0.048627,0.047621,0.047371,0.046936,0.047303,0.046591,0.048088,0.047263,76.796907
min,-0.107226,-0.044642,-0.090275,-0.102071,-0.126781,-0.115613,-0.102307,-0.076395,-0.126097,-0.137767,25.000000
25%,-0.034575,-0.044642,-0.035307,-0.036656,-0.035968,-0.029967,-0.032356,-0.039493,-0.035817,-0.034215,84.000000
50%,0.005383,-0.044642,-0.008362,-0.005671,-0.004321,-0.004445,-0.006584,-0.002592,-0.005145,-0.001078,138.000000
75%,0.038076,0.050680,0.030979,0.032775,0.027326,0.028905,0.026550,0.034309,0.032124,0.027917,202.000000
max,0.110727,0.050680,0.170555,0.132044,0.153914,0.198788,0.181179,0.185234,0.133599,0.135612,346.000000

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     331 non-null    float64
 1   sex     331 non-null    float64
 2   bmi     331 non-null    float64
 3   bp      331 non-null    float64
 4   s1      331 non-null    float64
 5   s2      331 non-null    float64
 6   s3      331 non-null    float64
 7   s4      331 non-null    float64
 8   s5      331 non-null    float64
 9   s6      331 non-null    float64
 10  Y       331 non-null    float64
dtypes: float64(11)
memory usage: 28.6 KB

In [104]:
# separating targe column from df

y_train = df['Y']

In [105]:
print(y_train)

0      346.0
1      104.0
2       49.0
3      180.0
4      110.0
       ...
326    233.0
327     63.0
328    288.0
329    131.0
330     42.0
Name: Y, Length: 331, dtype: float64

In [106]:
# dropping column Y

df.drop('Y', inplace = True , axis = 1)

In [107]:
x_train = df
x_train

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207
3,0.048974,0.050680,0.081097,0.021872,0.043837,0.064134,-0.054446,0.071210,0.032433,0.048628
4,0.041708,0.050680,0.061696,-0.040099,-0.013953,0.006202,-0.028674,-0.002592,-0.014956,0.011349
...,...,...,...,...,...,...,...,...,...,...
326,0.012648,-0.044642,-0.020218,-0.015999,0.012191,0.021233,-0.076536,0.108111,0.059881,-0.021788
327,0.019913,-0.044642,-0.057941,-0.057314,-0.001569,-0.012587,0.074412,-0.039493,-0.061177,-0.075636
328,0.023546,-0.044642,0.070319,0.025315,-0.034592,-0.014466,-0.032356,-0.002592,-0.019197,-0.009362
329,0.016281,0.050680,0.072474,0.076958,-0.008449,0.005575,-0.006584,-0.002592,-0.023645,0.061054
330,-0.009147,0.050680,-0.030996,-0.026328,-0.011201,-0.001001,-0.021311,-0.002592,0.006209,0.027917

In [108]:
# creating linear regression model

from sklearn.linear_model import LinearRegression
alg = LinearRegression()

In [109]:
# fitting x_train , y_train in the model

alg.fit(x_train,y_train)

LinearRegression()

In [110]:
test = np.genfromtxt('C:\\Users\\snaug\\Downloads\\0000000000002329_test_diabetes_x_test.csv', delimiter=',')
x_test = pd.DataFrame(test)
x_test.columns = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
x_test

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.023546,0.050680,-0.037463,-0.046985,-0.091006,-0.075530,-0.032356,-0.039493,-0.030751,-0.013504
1,-0.078165,-0.044642,-0.073030,-0.057314,-0.084126,-0.074277,-0.024993,-0.039493,-0.018118,-0.083920
2,-0.030942,0.050680,0.001339,-0.005671,0.064477,0.049416,-0.047082,0.108111,0.083797,0.003064
3,-0.005515,0.050680,0.001339,-0.084857,-0.011201,-0.016658,0.048640,-0.039493,-0.041180,-0.088062
4,-0.020045,-0.044642,-0.084886,-0.026328,-0.035968,-0.034194,0.041277,-0.051671,-0.082381,-0.046641
...,...,...,...,...,...,...,...,...,...,...
106,0.009016,0.050680,0.069241,0.059744,0.017694,-0.023234,-0.047082,0.034309,0.103292,0.073480
107,0.005383,-0.044642,0.049840,0.097616,-0.015328,-0.016345,-0.006584,-0.002592,0.017037,-0.013504
108,0.009016,-0.044642,-0.012673,0.028758,-0.018080,-0.005072,-0.047082,0.034309,0.023375,-0.005220
109,0.019913,-0.044642,-0.034229,0.055153,0.067229,0.074155,-0.006584,0.032833,0.024725,0.069338
110,0.016281,0.050680,0.009961,-0.043542,-0.096510,-0.094632,-0.039719,-0.039493,0.017037,0.007207

In [111]:
# predicting for Y values

y_predict = alg.predict(x_test)

In [112]:
# calculating score or coefficient of determination

alg.score(x_train , y_train)

0.4957208055805604

In [113]:
y_predict

array([105.52974799, 105.8039198 , 178.60857225,  79.3828781 ,
        52.95868706,  98.87263854, 150.71755448,  34.86515216,
       113.13535727, 161.50184038, 135.8615611 ,  94.71592222,
       138.48094422, 141.37441723, 158.76862662, 171.65288616,
       106.44835654, 103.92659639,  95.38693889, 167.40118092,
       166.53426278, 101.53464712, 252.45035972, 147.02258547,
       214.78906632, 161.27557106, 210.61315228,  71.78091585,
       189.65032431, 206.6134259 , 219.98643455, 168.80192534,
       116.84846127, 178.74399639,  77.03247418,  59.54633214,
       111.5673781 , 156.95186739, 154.59591259, 198.94457493,
       115.53884017, 153.46699024,  84.96179518, 113.70337192,
       142.14155617, 147.31040378,  82.78072358,  77.89237327,
       128.99006192, 261.58712282, 213.31187775, 243.98791257,
       167.68132094, 183.69712124, 166.85926884, 202.11440188,
       220.39235543, 172.40288024, 176.60897931, 109.04656567,
       276.37789836,  90.99941821, 289.37221147, 119.56253351,
        75.45687948, 180.78598759, 146.62093081, 156.42382465,
        41.079036  , 247.90645166, 207.99121432,  90.09641075,
       222.24169638, 189.86378006, 182.2695376 , 164.39881376,
       190.27066587, 105.4486795 , 199.86136394, 245.796388  ,
       123.20281334, 119.41031908, 145.86620411, 206.19247291,
       150.86282453, 142.23221646, 154.56874616, 115.29233396,
       134.07810123, 118.42225404, 203.5767555 , 170.66483797,
       127.409797  ,  57.13507634, 231.92226503, 185.20713654,
       187.37494558,  83.55920849, 185.42585685, 217.34035639,
       108.86715354,  80.98714568, 127.05524123, 242.00738792,
       155.9723414 , 125.67575276, 246.41235643, 234.963933  ,
       191.51298252, 168.33254477, 163.02965178])

In [114]:
# rounding values to 5 digit afer decimal

y_predict = np.around(y_predict , 5)
y_predict

array([105.52975, 105.80392, 178.60857,  79.38288,  52.95869,  98.87264,
       150.71755,  34.86515, 113.13536, 161.50184, 135.86156,  94.71592,
       138.48094, 141.37442, 158.76863, 171.65289, 106.44836, 103.9266 ,
        95.38694, 167.40118, 166.53426, 101.53465, 252.45036, 147.02259,
       214.78907, 161.27557, 210.61315,  71.78092, 189.65032, 206.61343,
       219.98643, 168.80193, 116.84846, 178.744  ,  77.03247,  59.54633,
       111.56738, 156.95187, 154.59591, 198.94457, 115.53884, 153.46699,
        84.9618 , 113.70337, 142.14156, 147.3104 ,  82.78072,  77.89237,
       128.99006, 261.58712, 213.31188, 243.98791, 167.68132, 183.69712,
       166.85927, 202.1144 , 220.39236, 172.40288, 176.60898, 109.04657,
       276.3779 ,  90.99942, 289.37221, 119.56253,  75.45688, 180.78599,
       146.62093, 156.42382,  41.07904, 247.90645, 207.99121,  90.09641,
       222.2417 , 189.86378, 182.26954, 164.39881, 190.27067, 105.44868,
       199.86136, 245.79639, 123.20281, 119.41032, 145.8662 , 206.19247,
       150.86282, 142.23222, 154.56875, 115.29233, 134.0781 , 118.42225,
       203.57676, 170.66484, 127.4098 ,  57.13508, 231.92227, 185.20714,
       187.37495,  83.55921, 185.42586, 217.34036, 108.86715,  80.98715,
       127.05524, 242.00739, 155.97234, 125.67575, 246.41236, 234.96393,
       191.51298, 168.33254, 163.02965])

In [115]:
# saving y_test values in txt format

np.savetxt('0000000000002329_test_diabetes_y_test.csv' , y_predict)